* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.demon-cards {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
  padding: 40px;
}

.demon-cards li {
  list-style: none;
  cursor: pointer;
}
